#leader{
    padding-top: 10px;
    background-color: burlywood;
    color: black;
    height: 80px;
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: left;
    
}
#leader a{
    color: white;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
#flooter{
    background-color: #007bff;
    text-align: center;
    color: white;
   
    height: 40px;
}
img{
    border-radius: 70%;
    width: 190px;
    height: 190px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease-in-out; 
}

img:hover{
    transform: scale(1.10);
}
#img2{
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease-in-out; 
    border-radius: 70%;
}

#img2:hover{
    transform: scale(1.90);
}
h4{
    margin-left: 16px;
    margin-top: 50px;
}
body{
    padding-left: 17px;
    background-color: #f7f9fc;
    font-family: 'Arial', sans-serif;
}



  #leader a:hover {
    text-decoration: underline;
  }

  .container {
    margin-top: 50px;
  }

  h2 {
    font-size: 28px;
    color: #333;
    text-decoration: underline;
  }

  .card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
  }

  .form-control {
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .btn {
    border-radius: 8px;
    padding: 10px 20px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .btn-secondary {
    background-color: #6c757d;
    border: none;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
  }

  #resCalc {
    border-radius: 8px;
  }

  .footer {
    background-color: #007bff;
    color: rgb(9, 34, 255);
    padding: 15px 0;
    text-align: center;
  }

  /* Ajout de marges et espacements */
  .mb-4 {
    margin-bottom: 30px;
  }

  .text-center {
    text-align: center;
  }

  table {
    margin: auto;
    width: 80%;
  }

  tr td {
    padding: 8px;
  }
  .convertisseur-wrapper {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  