#kj {
    margin: auto;
    float: inline-end;
}
.img{
    height: 350px;
    float: inline-end;
    width:350px;
    margin-right: 200px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 50px;

}
.paragraph {
    margin-left: 100px;
    text-align: center;
    margin-top: 60px;
    margin-right: 200px;


}
body {
    background: rgb(2,0,36);
    background: linear-gradient(30deg, rgb(255, 255, 255) 0%, rgba(251, 114, 2) 35%, rgb(255, 255, 255) 100%);
    height: 100vh;
}